a {
    text-decoration: none;
    color: white;
}
.spacer {
    flex: 1 1 auto;
}

.mouseHover:hover {
    background-color: rgb(220, 237, 220);
    cursor: pointer;
    transition: all 0.7s ease-in-out;
}
