.cart-box {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgb(184 246 212);
    border-radius: 5px;
    padding: 5px;
    color: black;
    font-size: 16px;
    border: 1px solid white;
    cursor: pointer;
}